{% extends "base.html" %} 
 
{% block title %} CREATE POST FORM {% endblock %}

{% block content%} 
  
    <h2>{{post.title}} </h2>
    
   <!-- <p><small>
    Created at: {{post.created_at}}
   </small></p> -->

   <p>
    {{post.content}}
   </p>

   <small> Tags: </small>
   {% for tag in post.tags %}
   <form action="/tags/{{tag.id}}" style="display: inline">
   <button size="10px" style="background: blue;color:white;" font-family="Georgia, serif"> {{tag.name}} </i></button>
   </form>
   {% endfor %}

</br>
</br>
<form action ="/posts/{{post.id}}/edit">
    <button> Edit </button>
</form>

<form action ="/{{post.user_id}}">
    <button> Cancel! </button>
</form>

<form action ="/posts/{{post.id}}/delete" method = "POST">
    <button> Delete </button>
</form>

<form action="/{{post.user_id}}">
    <button> Back to user page </button>
</form>
{% endblock %}